name: Java Build & JavaDoc

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        default: '21'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'

      - name: Build
        run: mvn clean install -DskipTests

      - name: Generate JavaDoc
        run: mvn javadoc:javadoc -Dmaven.javadoc.failOnError=false
