name: Central Maven Build & Deploy

on:
  workflow_call:
    inputs:
      artifact_id:
        required: true
        type: string

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java + Maven cache
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build
        run: |
          echo "mvn clean install : ${{ inputs.artifact_id }}"

      - name: Deploy
        run: |
          echo "Deploying artifact: ${{ inputs.artifact_id }}"